@use '../abstract/variables' as *;

.add-to-list {
    &__list {
        margin-bottom: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-height: 200px;
        overflow-y: auto;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            padding: 8px;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid $grey-light;
            }
        }
    }
}
