@import '../abstract/variables.scss';

#chloe-extension {
    button {
        background-color: $primary-color;
        color: $black;
        border: 1px solid $black;
        padding: 4px 12px;
        border-radius: 14px;
        cursor: pointer;
        margin: 0 16px;
        font-size: 12px;
    }

    #chloe-extension-title-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    #add-profile-button {
        position: absolute;
        top: 0px;
        right: 0px;
        width: max-content !important;
        padding: 8px 12px !important;
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        font-size: 28px !important;
        background-color: $black;
        font-weight: bold;
        color: white !important;
        border-radius: 14px !important;
        cursor: pointer !important;
        font-size: 12px !important;
    }
}

.info-button {
    cursor: help;
    font-size: 18px !important;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid $black;
    color: $black;
    flex-shrink: 0;
    object-fit: cover;
    position: relative;
    &:hover {
        &::after {
            content: attr(data-tip);
            position: absolute;
            top: -30px;
            left: 50%;
            background-color: white;
            border: 1px solid #ccc;
            padding: 4px 8px;
            border-radius: 4px;
            white-space: nowrap;
            font-size: 12px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }
    }
}

.info-container {
    position: relative;
    display: flex;

    align-items: center;
    font-weight: normal !important;
}

.go-to-btn {
    background-color: transparent !important;
    margin: 0;
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none !important;
    cursor: pointer;
    font-size: 14px;
    color: #4c5efd;

    img {
        width: 20px;
        height: 20px;
        object-fit: cover;
    }
}

#chloe-floating-btn {
    position: fixed;
    z-index: 10000;
    background-color: transparent;
    border: none;
    color: $black;
    border-radius: 24px;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

    transform: scale(1);
    opacity: 1;
    left: 20px;

    &.retracted {
        transform: scale(0);
        opacity: 0;
        pointer-events: none;
    }

    &:hover {
        background-color: darken($primary-color, 10%);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
}
